.NavbarFilters_LinkHolder{
 
    
}

.NavbarFilters_LinkHolder a{
    text-decoration: none;
    color:gray;   
 

}

.NavbarFilters_LinkHolder a{    
    padding: 4px;
    width: 100%;
    
}

.NavbarFilters_LinkHolder a.active{    
    color:midnightblue;
    background-color: lightblue;
}

