.App {  
  display: grid;
  grid-template-columns: 1fr 9fr;  
  margin: 10px;
}

Input{
  margin: 1px; 
}

.todolist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


